body {
  margin: 0;
}
html {
  margin: 0;
  padding: 0;
}
.flexdiv {
  display: flex;
  flex-direction: column;
}

.topicondisplay {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}
.logo {
  height: 12vh;
  min-width: 300px;
  margin: 10px auto;
  align-content: center;
}
.container {
  /* height: 80vh; */
  margin: auto;
  width: 100%;
  text-align: center;
}
p {
  padding: 20px 0;
  font-size: 1.5em;
}

h3:hover {
  color: blue;
}

.browsing,
.login {
  height: 30%;
}

img {
  height: 100px;
  width: 100px;
}

.link {
  text-decoration: none;
  margin: 15px;
  color: black;
  font-size: 1.5em;
}
.link:hover {
  color: blue;
}

footer {
  height: 8vh;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer img {
  height: 50px;
  width: 50px;
  text-align: center;
}

/* Cities Page display styling */

.cityname {
  text-align: center;
  text-transform: uppercase;
}

.citiesfetch {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 5px 5px 2px darkgrey;
  text-align: center;
}

div.citiesfetch:hover {
  box-shadow: 5px 5px 2px gray;
}

input {
  width: 80%;
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
}

.citiesfetch a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

p.search {
  padding: 0;
}

/* Itineries Display styling */

.chooseanothercity {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}
.itinerariesfetch {
  margin: 10px;
}

.profileinfo {
  align-self: center;
  text-align: left;
}

.profileinfo img {
  border-radius: 50%;
}
.otherinfo {
  align-self: center;
  text-align: right;
}

/* Drawer/Nav styling */

.drawerliststyle a {
  text-decoration: none;
  color: black;
}

.iconstyle {
  font-size: 1.5em;
  margin-right: 10px;
  color: black;
}

/* Activities slider styling */

.activitiesslider {
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  max-width: 200px;
  min-height: 100px;
}

/* Form styling  */

.formstyle {
  text-align: center;
}

.formstyle input {
  width: 40%;
}
