html {
  margin: 0;
  padding: 0;
}
.flexdiv {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 12vh;
  min-width: 300px;
  margin: 10px auto;
  align-content: center;
}
.container {
  height: 80vh;
  margin: auto;
  width: 90%;
  text-align: center;
}
p {
  padding: 20px 0;
  font-size: 1.5em;
}

h3:hover {
  color: blue;
}

.browsing,
.login {
  height: 30%;
}

img {
  height: 100px;
  width: 100px;
}

.link {
  text-decoration: none;
  margin: 15px;
  color: black;
  font-size: 1.5em;
}
.link:hover {
  color: blue;
}

footer {
  height: 8vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer img {
  height: 50px;
  width: 50px;
  text-align: center;
}

.citiesfetch {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid blue;
  text-align: center;
}

.citiesfetch a {
  text-decoration: none;

  font-size: 1.5em;
}
