body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 10vh;
}
.flexdiv {
  display: flex;
  flex-direction: column;
  color: white;
}

.topicondisplay {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  font-size: 1.5em;
  position: absolute;
  width: 100%;
  z-index: 1;
  
}
.topicondisplay div {
  padding: 0 5%;
}
.topicondisplay div svg {
color: rgba(255,255,255)
}


.container {
  height: 100%;
  margin: auto;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em
}
.flexdiv h2 {
  width: 60%;
  margin: 10px auto;
  padding: 20px 0;
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
}

.flexdiv h3 {
  font-family: 'Fjalla One', sans-serif;
  color: #020000;
  margin-bottom: 0;
}


.browsing {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 5px;
  width: 40%;
  max-height: 100px;
  margin: 0 auto;
  padding: 10px 0;
  transition: all 0.2s ease-out
}

.browsing:hover {
  width: 42%;
  font-size: 1.05em
}

.browsing a {
  color: #020000;
  font-size: 2.5em;
  margin-top: none;
}

.login {
  padding: 13% 0;
  position: relative;
  margin: auto
}

.login h3 {
  color: white;
  text-align: center
}

.link {
  text-decoration: none;
  margin: 15px;
  font-size: 1.5em;
  color: white;
  transition: opacity 0.5s ease
}

.link:hover {
  color:white;
  opacity: 0.5;
}

footer {
  height: 8vh;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer img {
  height: 50px;
  width: 50px;
  text-align: center;
}

/* Cities Page display styling */

.citiesholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 3% auto
}

.city {
  width: 300px;
  height: 200px;
  padding: 4px;
  margin: 15px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 1000
}

.city :hover {
  opacity: 0.9;
}


input {
  width: 40%;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 8px;
}

.citiesfetch a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
.cityname {
  
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

/* Itineries Display styling */

.chooseanothercity {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}
.itinerariesfetch {
  margin: 10px;
}

.profileinfo {
  align-self: center;
  text-align: left;
}

.profileinfo img {
  border-radius: 50%;
  width: 100px;
  height: 100px
}
.otherinfo {
  align-self: center;
  text-align: right;
}

/* Drawer/Nav styling */

.drawerliststyle a {
  text-decoration: none;
  color: black;
}

.iconstyle {
  font-size: 1.5em;
  margin-right: 10px;
  color: black;
}

/* Activities slider styling */

.activitiesslider {
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  max-width: 200px;
  min-height: 100px;
}

/* Form styling  */


.formstyle {
  border-radius: 5px;
  width: 60%;
  text-align: center;
  color: #190605;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 15%;
  padding: 10px 20px;

}
.formstyle svg {
  padding: 10px;
  font-size: 3em
}
.formstyle h3 {
  font-family: 'Fjalla One', sans-serif;
  color: #020000;
  margin-bottom: 2%;
  font-weight: 100;
  font-size: 2em;
  padding: 2px;
}

.formstyle .submit {
  width: 50%;
  margin: 5% auto;
  padding: 2%;
  background-color: #190605;
  color: white;
  font-size: 1em
}

.formstyle .submit:hover {
  opacity: 0.8;
}
.formstyle a {
  text-decoration: none;
  font-size: 1.1em;
  color:#190605;
}

.formstyle a:hover {
  text-decoration: underline
}
